:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: #F0B7A4;
    --entry: #F1D1B5;
    --primary: #F18C8E;
    --secondary: #568EA6;
    --tertiary: #305F72;
    --content: #305F72;
    --code-block-bg: #F1D1B5;
    --code-bg: #F0B7A4;
    --border: #F18C8E;
}
.dark {
    --theme: #305F72;
    --entry: #568EA6;
    --primary: #F18C8E;
    --secondary: #F0B7A4;
    --tertiary: #F1D1B5;
    --content: #F0F0F0;
    --code-block-bg: #568EA6;
    --code-bg: #305F72;
    --border: #F18C8E;
}
.list {
    background: var(--code-bg);
}
.dark.list {
    background: var(--theme);
}
